* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
}

header {
    background-color: #333;
    color: #472c2c;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    width: 90px;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #f0f0f0;
    text-decoration: none;
    font-size: 18px;
}

#hero {
    background: url('hero-image.jpg') no-repeat center center;
    background-size: cover;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #682781;
}

#hero .hero-content h1 {
    font-size: 48px;
}

#hero .hero-content p {
    font-size: 24px;
}

#hero .btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
}

#about, #services, #testimonials, #contact {
    padding: 40px;
    text-align: center;
}

h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.service-cards {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    color: #42fd09;
}

.service-card {
    background-color: #22588a;
    border: 1px solid #ddd;
    padding: 20px;
    width: 30%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.service-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.testimonial {
    margin-top: 20px;
    font-size: 18px;
}

footer {
    background-color: #333;
    color: #00f8c2;
    padding: 20px;
    text-align: center;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
}

#x1{
    color: red;
    background-color: #00f8c2;
    
}